@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  max-width: 1380px;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
}

@media screen and (min-width: 1204px) {
  .container {
    width: 1204px;
    margin: 0 auto;
  }
}

.page-header {
  padding: 28px 0;
}

.page-header__wrappere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.page-header__nav {
  display: block;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    display: none;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:hover {
  border-bottom: 1px solid #1d1f2e;
}

.site-nav__item:not(:last-child) {
  margin-right: 30px;
}

.site-nav__cart--link {
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  border-bottom: 2px solid #a25f4b4d;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 771px) {
  .site-nav__cart--link {
    width: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__cart--link:not(:last-child) {
  margin-right: 10px;
}

.site-nav__cart--link:hover {
  background: #d4caca;
  border-radius: 5px;
}

.site-nav__cart--wrapper {
  width: 20px;
  background: #1d1f2e;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  padding-top: 3px;
}

@media screen and (max-width: 771px) {
  .site-nav__cart--wrapper {
    width: 30px;
    height: 30px;
    padding-top: 6px;
  }
}

.mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  overflow-y: scroll;
  opacity: 1;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.mobile-menu {
  display: none;
  visibility: visible;
}

.mobile__icon {
  fill: #000;
}

.page-header__button-menu {
  background-image: url("../src/img/sprite/burger.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  z-index: 100;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: white;
  fill: #000000;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .page-header__button-menu {
    display: none;
  }
}

.page-header__button-menu:hover, .page-header__button-menu:focus {
  fill: white;
}

.page-header__button-menu .page-header__icon {
  width: 40px;
  height: 40px;
}

.expanded {
  background-image: url("../src/img/sprite/cross.jpg");
  width: 40px;
  height: 40px;
  background-size: cover;
  position: fixed;
}

.mobile__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  line-height: 0;
  border: none;
  background-color: transparent;
  fill: #000000;
  cursor: pointer;
  padding: 0;
  margin-bottom: 30px;
}

.mobile__button-close:hover, .mobile__button-close:focus {
  fill: red;
}

.mobile__nav {
  padding-left: 40px;
}

.is-open {
  visibility: hidden;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  pointer-events: auto;
}

@media screen and (max-width: 760px) {
  .is-open {
    width: 760px;
    display: block;
  }
}

.mobile__list {
  margin-bottom: 30px;
}

.mobile__container {
  max-width: 480px;
  max-height: 796px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 30px;
}

.mobile__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000;
}

.mobile__link:hover, .mobile__link:focus {
  color: teal;
}

.mobile-network {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-network__item:not(:last-child) {
  border-right: solid 1px rgba(33, 33, 33, 0.2);
  color: #86b9f7;
  margin-right: 10px;
}

.mobile-network__item:not(:last-child) .mobile-network__link {
  margin-right: 10px;
}

.mobile-network__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #80ccff;
}

.hero {
  height: 530px;
  background: url("../src/img/hero-bg.png") 0 0/cover no-repeat;
  text-align: center;
  padding: 160px 0;
  color: #ffffff;
  margin-bottom: 125px;
}

@media screen and (max-width: 330px) {
  .hero {
    padding: 100px 10px;
  }
}

@media screen and (max-width: 568px) {
  .hero {
    padding: 160px 30px;
  }
}

@media screen and (max-width: 806px) {
  .hero {
    background-position: 50% 50%;
  }
}

.hero__text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero__title {
  font-size: 47px;
  line-height: 60px;
  margin-bottom: 10px;
  font-weight: 400;
}

.hero__text--info {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 50px;
}

.hero__btn {
  background-color: #ffffff;
  color: #1d1f2e;
  letter-spacing: 2px;
  padding: 0 24px;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.hero__btn:hover {
  background-color: #a9a9a1;
}

@media screen and (max-width: 568px) {
  .hero__btn {
    display: block;
    width: 130px;
    margin: 0 auto;
  }
}

.features {
  text-align: center;
  margin-bottom: 100px;
}

.features__wrapper {
  width: 658px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .features__wrapper {
    max-width: 578px;
  }
}

@media screen and (max-width: 700px) {
  .features__wrapper {
    max-width: 360px;
  }
}

@media screen and (max-width: 380px) {
  .features__wrapper {
    max-width: 300px;
  }
}

.features__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  color: #1d1f2e;
  margin-bottom: 16px;
}

@media screen and (max-width: 700px) {
  .features__title {
    font-size: 18px;
  }
}

.features__text {
  font-size: 16px;
  line-height: 28px;
  color: #1d1f2eb2;
  margin-bottom: 20px;
}

.features__btn--wrapper {
  display: inline-block;
  padding: 5px 3px;
  border-bottom: 2px solid #a25f4b33;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.features__btn--wrapper:hover {
  background: #adadad;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
  border-radius: 5px;
}

.features__btn {
  color: #a25f4b;
}

.featured {
  margin-bottom: 100px;
}

.featured__title--container {
  margin: 0 auto;
  width: 240px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1023px) {
  .featured__title--container {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.title {
  font-size: 12px;
  color: #1d1f2e;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  background-color: #ececed;
  width: 30px;
  height: 2px;
  top: 8px;
  right: 0;
}

.title::before {
  content: "";
  position: absolute;
  background-color: #ececed;
  width: 30px;
  height: 2px;
  top: 8px;
  left: 0;
}

.featured__list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media screen and (max-width: 1023px) {
  .featured__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1023px) {
  .featured__item:last-child {
    display: none;
  }
}

.img {
  margin-bottom: 35px;
}

.featured__img {
  width: 100%;
}

.item__container {
  text-align: center;
  margin-bottom: 19px;
}

.card-name {
  color: #1d1f2e;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
}

.price {
  color: Secondary-text-color2;
  margin-right: 5px;
}

.new-price {
  color: #a25f4b;
  font-size: 19px;
}

.price-old {
  font-size: 20px;
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}

.more-products {
  margin-bottom: 100px;
}

.more-products__list {
  position: relative;
}

@media screen and (min-width: 480px) {
  .slick-track {
    width: 480px;
    margin: 0 auto;
  }
}

.more-products__item {
  margin-right: 30px;
}

@media screen and (max-width: 1023px) {
  .more-products__item {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 0px;
  }
}

.more-products__img {
  width: 100%;
}

.more-products__price {
  margin-right: 5px;
}

.slick-arrow {
  position: absolute;
  top: 25vh;
  z-index: 3;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: 0;
  outline: none;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.7;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-arrow::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-prev {
  left: 15px;
}

.slick-prev::after {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  left: 18px;
}

.slick-next {
  right: 15px;
}

.slick-next::after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  left: 13px;
}

.discount {
  margin-bottom: 130px;
}

.discount__title--container {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 480px;
}

@media screen and (max-width: 1023px) {
  .discount__title--container {
    width: 410px;
  }
}

@media screen and (max-width: 420px) {
  .discount__title--container {
    width: 310px;
    margin-bottom: 50px;
    position: static;
    text-align: center;
  }
}

.discount__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .discount__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.discount__img--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
}

@media screen and (max-width: 1023px) {
  .discount__img--container {
    width: 390px;
  }
}

@media screen and (max-width: 1023px) {
  .discount__img--container {
    margin-bottom: 40px;
  }
}

.discount__img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .discount__img__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.discount__img__product1 {
  margin-right: 20px;
}

@media screen and (max-width: 1023px) {
  .discount__img__product1 {
    margin-bottom: 40px;
    margin-right: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .discount__img__product2 {
    width: 100%;
    height: 40%;
  }
}

@media screen and (max-width: 1023px) {
  .discount__img {
    margin-bottom: 20px;
  }
}

.discount__offer {
  width: 460px;
  padding: 0px 60px 0px;
}

@media screen and (max-width: 1023px) {
  .discount__offer {
    max-width: 360px;
    margin: 0 auto;
    padding: 0px 20px;
  }
}

.discount__offer__text {
  font-size: 12px;
  color: #1d1f2e;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.discount__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #1d1f2e;
}

.discount__title--magazin {
  font-size: 36px;
  line-height: 50px;
  color: #1d1f2e;
  font-weight: 400;
}

.discount__subtitle {
  color: #1d1f2eb2;
  line-height: 28px;
  margin-bottom: 30px;
}

.discount__button {
  display: inline-block;
  width: 173px;
  height: 36px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  background-color: #1d1f2e;
  text-align: center;
  border: none;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.discount__button:hover {
  background-color: lightslategray;
}

.post {
  padding: 0px 10px 50px;
  margin-bottom: 152px;
}

.post__title--container {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1023px) {
  .post__title--container {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 421px) {
  .post__title--container {
    width: 360px;
  }
}

.post__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .post__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.post__item {
  width: 300px;
}

@media screen and (max-width: 1023px) {
  .post__item {
    margin-bottom: 20px;
  }
}

.post__img {
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .post__img {
    margin-bottom: 20px;
  }
}

.post__item--container {
  padding-right: 10px;
}

.post__item--title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 32px;
  color: #1d1f2e;
}

.post__item--subtitle {
  margin-bottom: 15px;
  color: #1d1f2eb2;
}

.post__item--date {
  color: #1d1f2e;
  font-size: 12px;
}

.authorization {
  padding: 80px 0px;
  background-color: #1d1f2e;
  text-align: center;
  margin-bottom: 100px;
}

.authorization__text {
  color: #fff;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}

.authorization__title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.authorization__form--input {
  text-align: center;
  height: 54px;
  width: 350px;
  background: #1d1f2e;
  border: 1px solid #2f303e;
  color: #fff;
  margin-right: 10px;
}

@media screen and (max-width: 492px) {
  .authorization__form--input {
    margin-bottom: 10px;
  }
}

.authorization__form--btn {
  text-transform: uppercase;
  height: 54px;
  width: 129px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.authorization__form--btn:hover {
  background: #bebebe;
  border: none;
  border-radius: 5px;
}

.footer {
  margin-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 15px;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .footer__wrapper {
    display: block;
  }
}

.footer__logo--wrapper {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

@media screen and (max-width: 860px) {
  .footer__logo--wrapper {
    margin-bottom: 20px;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 22px;
}

.footer__logo--text {
  margin-bottom: 60px;
}

@media screen and (max-width: 860px) {
  .footer__logo--text {
    margin-bottom: 10px;
  }
}

.footer__company {
  font-size: 14px;
  line-height: 22px;
  color: #1d1f2e4d;
}

@media screen and (max-width: 1023px) {
  .footer__menu--list {
    display: none;
  }
}

.footer__title {
  font-size: 12px;
  line-height: 18px;
  color: #1d1f2e;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.link {
  font-size: 14px;
  line-height: 22px;
  color: #1d1f2eb2;
}

@media screen and (max-width: 1023px) {
  .footer__network--list {
    display: none;
  }
}

.footer__contacts--title {
  margin-bottom: 16px;
}

.footer__contacts--email {
  font-size: 23px;
  line-height: 36px;
  display: inline-block;
  margin-bottom: 40px;
  color: #1d1f2e;
}

@media screen and (max-width: 860px) {
  .footer__contacts--email {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */