.discount {
  margin-bottom: 130px;
}

.discount__title--container {
margin: 0 auto;
margin-bottom: 100px ;

 @media screen and (max-width: 1023px) {
	width: 410px;
 }
 @media screen and (max-width: 420px) {
	width: 310px;
	margin-bottom: 50px ;
	position: static;
	text-align: center;
 }

  width: 480px;
}

.discount__wrapper {
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.discount__img--container {
  display: flex;
  @media screen and (max-width: 1023px) {
    width: 390px;
  }
  width: 460px;
  @media screen and (max-width: 1023px) {
    margin-bottom: 40px;
  }
}
.discount__img__wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    justify-content: space-between;
  }
}
.discount__img__product1 {
  @media screen and (max-width: 1023px) {
    margin-bottom: 40px;
    margin-right: 10px;
    width: 100%;
  }
  margin-right: 20px;
}
.discount__img__product2 {
  @media screen and (max-width: 1023px) {
    width: 100%;
    height: 40%;
  }
}
.discount__img {
  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.discount__offer {
  @media screen and (max-width: 1023px) {
    max-width: 360px;
    margin: 0 auto;
    padding: 0px 20px;
  }
  width: 460px;
  padding: 0px 60px 0px;
}

.discount__offer__text {
  font-size: 12px;
  color: #1d1f2e;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.discount__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #1d1f2e;

}
.discount__title--magazin {
  font-size: 36px;
  line-height: 50px;
  color: $primary-text-color;
  font-weight: 400;
}
.discount__subtitle {
  color: #1d1f2eb2;
  line-height: 28px;
  margin-bottom: 30px;
}
.discount__button {
  display: inline-block;
  width: 173px;
  height: 36px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  background-color: $primary-text-color;
  text-align: center;
  border: none;
  transition: 250ms linear;
  &:hover {
    background-color: lightslategray;
  }
}
