body {
  font-family: "Karla", sans-serif;
  max-width: 1380px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
}
.container {
  margin: 0 auto;
  position: relative;
 

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }
  @media screen and (max-width: 1023px) {
    max-width: 1023px;
  }
  @media screen and (min-width: 1204px) {
    width: 1204px;
  }
}
$primary-text-color: #1d1f2e;
$Secondary-text-color: #1d1f2eb2;

$price-sale-color: #a25f4b;
$price-color: rgba(29, 31, 46, 0.7);
$price-old: rgba(29, 31, 46, 0.4);

$White-color: #ffffff;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
